/* Font's Linking  */
@font-face {
  font-family: "HeldaneTextRegular";
  src: url("../assets/fonts/HeldaneTextRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HeldaneTextMedium";
  src: url("../assets/fonts/HeldaneTextMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
/* base css start */
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "HeldaneTextRegular", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "HeldaneTextMedium";
}
p {
  font-size: 15px;
  margin-bottom: 16px;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: 0.3px;
}
img {
  max-width: 100%;
}
.cs_container {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
}
/* base css end */
/* header css start */
header {
  padding: 16px 0;
  min-height: 79px;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 47px;
}
.header-content a {
  display: inline-block;
}
.header-content .lgo:not(:last-child) {
  margin-right: 12px;
}
.header-content .lgo img {
  max-height: 42px;
  max-width: 100%;
  display: block;
}
.with-bg {
  background-color: #000;
  display: inline-flex !important;
  padding: 16px 10px;
  align-items: center;
}
.header-content .with-bg img {
  width: 87px;
}
/* header css end */

/* main content css start */
.hero-area {
  text-align: center;
  padding-top: 15px;
}
.hero-area h1 {
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 17px;
}
.underline-link {
  display: inline-block;
  color: #3b526a;
  transition: 0.3s;
}

.box-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 14px 20px;
  font-size: 17px;
  font-weight: 600;
  transition: 0.3s;
}
.box-btn:hover {
  background: #3b526a;
}
.hero-area .box-btn {
  margin-top: 10px;
}
.follower-showcase {
  margin-top: 34px;
  margin-bottom: 35px;
}
.follower-showcase > p {
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.follower {
  display: flex;
  align-items: center;
  justify-content: center;
}
.follower .follow-btn {
  background-color: #222328;
  color: #fff;
  margin: 0;
  border-radius: 10px;
  padding: 9px 15px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
  justify-content: center;
  font-family: Arial;
}
.follow-btn:hover {
  background: #3b526a;
}
.follower .badge {
  width: 44px;
  padding: 0;
  margin-left: 15px;
  transform: translateY(-1px);
}
.follower .count {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  font-size: 14px;
  font-weight: 400;
}
.follower .count svg {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
.trusted {
  font-size: 15px;
  display: block;
  line-height: 1.7;
}
.h5 {
  font-weight: 500;
  text-align: center;
  margin-bottom: 9px;
  letter-spacing: 0.5px;
  font-size: 15px;
}
/* main content css end */

/* footer css start */

.footer-content {
  text-align: center;
}
footer {
  padding: 30px 0;
}
.footer-content h6 {
  text-decoration: underline;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}
.max-md {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
/* footer css end */

.service-rate-display {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}
.blk-img img {
  max-width: 100%;
  width: 100%;
}
.service-rate-display .blk-img {
  margin-top: 42px;
}
.service-rate-display p {
  margin-bottom: 8px;
}
.cmn-link-with-underline {
  display: inline-block;
  text-decoration: underline;
  transition: 0.3s;
  margin-top: 8px;
  font-size: 20px;
}
.cmn-link-with-underline:hover {
  color: #3b526a;
}

.service-rate-display p {
  margin-bottom: 8px;
}
.service-rate-display p .green {
  color: #008000;
}
.rating_star {
  display: inline-flex;
  align-items: center;
}
.rating_star img {
  width: 21px;
}
.avg_rating_1_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.avg_rating_1_wrap span {
  display: inline-block;
  font-size: 20px;
  transform: translateY(1px);
}
/* responsive css start */
@media screen and (min-width: 768px) {
  .cs_container {
    max-width: 1180px;
  }
  header {
    padding: 24px 0;
    min-height: 95px;
  }
  .hero-area h1 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
  .hero-area {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
  }
  .footer-content h6 {
    font-size: 22px;
  }
  .follower-showcase > p {
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  .trusted {
    font-size: 17px;
    line-height: 1.6;
  }
  .follower .follow-btn {
    font-size: 16px;
  }
  .follower .count {
    font-size: 16px;
  }
  .h5 {
    font-size: 20px;
  }
  .box-btn {
    font-size: 20px;
  }
}

/* responsive css end */
